---
title: Common found WCAG 2.0 issues - Grouped by SC
layout: layouts/base.njk
description: A database of WCAG issues found in our audits. Grouped by Success Criterion.
---

{# NEED TO FIX

<ul>
<li><a href="../index.html">Full list</a></li>
<li>Grouped Success Criterion</li>
</ul>
<div class="wb-filter">
{% for criterion, title in issues | groupby("criterion[]") %}
    <section>
    	<h2>{{ criterion[] }}</h2>
		<ul class="lst-spcd">
		{% for title in issues %}
		<li>{{ title.title }}</li>
		{% endfor %}
		</ul>
    </section>
{% endfor %}
</div> #}